body {
  width: 500px;
  margin: 10px auto;
  background-color: lightblue;
  font-family: helvetica, sans-serif; }

footer {
  margin-top: 20px;
  border-top: dashed black 3px; }
  footer ul.links {
    list-style: none;
    margin: 0;
    padding: 0; }

#searcher {
  margin: 10px 0; }

.strikeout {
  font-family: 'redactedregular', sans-serif;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s; }
  .strikeout:hover {
    font-family: helvetica, sans-serif;
    text-decoration: line-through; }

.footnotes {
  border-top: 1px dashed black;
  padding-top: 10px; }

a {
  color: green;
  text-decoration: none;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s; }
  a:hover {
    padding: 3px;
    border-radius: 5px;
    background-color: lightcoral; }
