---
title: blog posts
redirect_from:
  - '/archive/'
---


<div class="posts">
  {% for post in paginator.posts %}
    <div class="homepage-post-container">
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p class="author">
        <span class="date">{{ post.date | date_to_string }}</span>
      </p>
      <div class="content">
        {{ post.content | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">◭</a>
  {% else %}
    <span class="previous">◭</span>
  {% endif %}
  <span class="page_number ">p. {{ paginator.page }} <small>(of {{ paginator.total_pages }})</small></span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">◮</a>
  {% else %}
    <span class="next ">◮</span>
  {% endif %}
</div>
