$charcoal: #403c38;

$mountain-brown: #6b4641;

$highlight-salmon: #da6d64;
$light-highlight-salmon: #eab4ad;
$dark-mint: #248165;

// the default browser lightcoral
$lightcoral: #f08080;
$black: #000;
$white: #fff;

$highlight: #ff6a00;
$yellow-foam: #f2d8b2;
