footer {
  @extend %section;
  @extend %dashed-top;

  div {
    margin-top: 10px;
  }
}

header {
  @extend %section;
  @extend %dashed-bottom;

  h1 {
    margin: 0;

    a {
      color: $charcoal;
    }
  }
}

a {
  color: $dark-mint;
  text-decoration: none;

  &:hover {
    color: $lightcoral;
  }
}

img {
  max-width: 100%;

  &.emoji {
    width: auto;
  }
}

figcaption {
  font-size: 75%;
  font-style: italic;
}

blockquote {
  border-left: $black solid 1px;
  margin-left: 1em;
  padding-left: 5px;
}

code {
  background-color: $white;
  margin: 0 2px;
  white-space: nowrap;
}

p,
li {
  code {
    background-color: $light-highlight-salmon;
  }
}

pre {
  code {
    color: $charcoal;
    display: block;
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
  }
}

code,
pre {
  font-family: Monaco, monospace;
}

audio {
  width: 100%;
}

table {
  width: 100%;
  overflow-x: auto;
  display: block;
}

th {
  border: 1px dashed black;
  padding: 8px;
}

td {
  border: 1px dashed black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: $light-highlight-salmon;
}

.fancy {
  border: 0;
  color: $black;
  margin: 0;
  padding: 0;
  text-align: center;

  &::after {
    content: "⠛ ⠛ ⠛";
    position: relative;
    top: -0.5em;
  }
}

kbd {
  background-color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: monospace;
}

// WebKit/Blink
::selection {
  background: $highlight;
}

// Gecko browsers
::-moz-selection {
  background: $highlight;
}

.category-label {
  background-color: lighten($lightcoral, 10%);
  border-radius: 5px;
  font-size: 75%;
  padding: 2px 5px;
}
