// This file is responsible for the structure of the page
$minwidth: 650px;

body {
  background-color: $yellow-foam;
  color: $charcoal;
  margin: 0 auto;
  width: 95%;
}

@media (min-width: $minwidth) {
  body {
    width: $minwidth;
  }
}
