.podcast-meta {
  margin: 20px 0;

  h2 {
    display: inline;
    font-size: unset;
  }

  ul {
    display: inline;
    padding: 0;
  }

  li {
    display: inline;
    font-weight: bold;

    &:not(:last-child)::after {
      content: ",";
    }
  }
}
