// index page
.posts {
  font-size: font-size: 25px;
  tr {
    &:not(:first-child) {
      border-top: 1px solid $faint;
    }
    &:nth-child(even) {
      background: $lightcoral;
    }
    &:nth-child(odd) {
      background: yellow;
    }
  }
  td {
    padding: 20px 0;
  }
}

// show page
.post {
  margin-bottom: 25px;
  padding: 3px;

  .post-footer {
    @extend %section;
    @extend %dashed-top;
  }

  .metadata {
    .title,
    .byline {
      margin-bottom: 5px;
    }
  }
}
