.homepage-post-container {
  &:not(:first-child) {
    &::before {
      content: "~ 🍫 ~";
      display: block;
      text-align: center;
      padding: 20px 0;
    }
  }

  h1 {
    margin: 0;
  }
}

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;

  a {
    padding: 4px;
    background-color: #e6b3df;
    border-radius: 4px;
    border: 1px solid black;
    &:hover {
      background-color: #bd00a7;
    }
  }
}

.post {
  margin-bottom: 25px;
  padding: 3px;

  .metadata {
    .title {
      margin-bottom: 5px;
    }

    .post-category {
      margin-bottom: 10px;
    }
  }

  .footnotes {
    @extend %section;
    @extend %dashed-top;

    padding: 5px;
  }
}

.post-post-cta {
  @extend %dashed-top;
  margin-top: 200px;
}
