$gentle: #edf1f7;

.post-excerpt {
  background: $gentle;
  margin-top: 10px;
  padding: 10px;

  h1 {
    margin: 0;
  }
}

.pagination {
  font-size: 3em;
  text-align: center;
}

.post {
  margin-bottom: 25px;
  padding: 3px;

  .metadata {
    .title,
    .byline {
      margin-bottom: 5px;
    }
  }
}
