@charset "UTF-8";
footer, header, .post .post-footer {
  margin: 20px 0;
  text-align: center; }

footer, .post .post-footer {
  border-top: dashed #000 3px;
  padding-top: 20px; }

header {
  border-bottom: dashed #000 3px;
  padding-bottom: 20px; }

body {
  margin: 0 auto;
  width: 95%; }

@media (min-width: 650px) {
  body {
    width: 650px; } }
a {
  color: #008000;
  text-decoration: none; }
  a:hover {
    color: #f08080; }

img {
  max-width: 100%; }
  img.emoji {
    width: auto; }

figcaption {
  font-size: 75%;
  font-style: italic; }

blockquote {
  border-left: #000 solid 1px;
  margin-left: 1em;
  padding-left: 5px; }

code {
  color: #ff32f4;
  margin: 0 2px;
  white-space: nowrap; }

pre code {
  color: #586e75;
  display: block;
  overflow-x: scroll;
  white-space: pre;
  word-wrap: normal; }

code,
pre {
  font-family: Monaco, monospace; }

audio {
  width: 100%; }

.fancy {
  border: 0;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center; }
  .fancy::after {
    content: '⠛ ⠛ ⠛';
    position: relative;
    top: -.5em; }

::selection {
  background: #ff6a00; }

::-moz-selection {
  background: #ff6a00; }

.posts ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
.posts li {
  margin: 0;
  padding: 0; }

.post {
  margin-bottom: 25px;
  padding: 3px; }
  .post .metadata .title,
  .post .metadata .byline {
    margin-bottom: 5px; }
