<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta content='{{ site.author }}' name='author'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:creator" content="@maxjacobson" />
  {% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
  {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />{% endif %}
  <link href='/feed.xml' rel='alternate' title='Posts feed' type='application/atom+xml'>
  <link href='/favicon.ico' rel='icon' type='image/x-icon'>
  {% include stylesheets.html %}
</head>
<body>

{% include header.html %}
{{ content }}
{% include footer.html %}
{% include javascripts.html %}

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100815498); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100815498ns.gif" /></p></noscript>
</body>
</html>

