<!DOCTYPE html>
<html lang='en'></html>
<head>
  <meta charset='UTF-8'>
  <link href='/css/lib/animate.min.css' rel='stylesheet'>
  <link href='/css/lib/prettify.min.css' rel='stylesheet'>
  <link href='/css/style.css' rel='stylesheet'>
  <link href='/feed' rel='alternate' title='Posts feed' type='application/atom+xml'>
  <link href='http://feeds.pinboard.in/rss/u:maxjacobson' rel='alternate' title='Pinboard links feed' type='applicaton/atom+xml'>
  <title>55 hot links | Beefsteak &amp; Aviation</title>
  <link href='/img/favicon.ico' rel='icon' type='image/x-icon'>
  <link href='/img/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
  <meta content='Max Jacobson' name='author'>
  <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
  <meta content='true' name='HandheldFriendly'>
  <script type='text/javascript'>/*analytics*/var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-4982721-9"]);_gaq.push(["_trackPageview"]);(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()</script>
</head>
<body>
  <header>
    <h1>beefsteak &amp; aviation</h1>
    <p>
      by
      <span id='author'>max jacobson</span>
    </p>
    <div id='nav'>
      <a href='/'>links</a>
      <a href='/posts'>posts</a>
      <a href='/~projects'>projects</a>
      <a href='/~about'>about</a>
    </div>
  </header>
  <hr>
  <div class='yield'>
    {{ content }}
  </div>
  <hr>
  <footer>
    <p>
      Feeds available for
      <a href='/feed'>posts</a>
      or for
      <a href='http://feeds.pinboard.in/rss/u:maxjacobson'>links</a>
    </p>
  </footer>
  <script src='/js/lib/jquery.js'></script>
  <script src='/js/app.js'></script>
  <script src='/js/lib/run_prettify.js'></script>
</body>
</html>