---
layout: default
---

<div class="metaphorloop-episode">
  <div class="meta">
    <div class="title">
      <h2>
        {{ page.title }}
      </h2>
      <span>An episode of <a href="/metaphorloop">metaphorloop</a></span>
    </div>
    <div class="date">
      {{ page.date | date_to_string }}
    </div>
  </div>


  <div class="episode-details">
    <audio src="{{page.audio_url}}" controls>
      Your browser does not support the audio tag.
    </audio>

    {{ content }}
  </div>

  <div class="podcast-meta">
    <p>
      <a href="/metaphorloop/feed.xml">Subscribe to the feed</a> or <a href="https://itunes.apple.com/us/podcast/metaphor-loop/id1033043747">via iTunes</a>
    </p>
  </div>
</div>
