---
layout: default
---

<div class="metaphorloop-episode">
  <div class="meta">
    <div class="title">
      <h2>
        {{ page.title }}
      </h2>
      <span>An episode of <a href="/metaphorloop">metaphor loop</a></span>
    </div>
    <div class="date">
      {{ page.date | date: "%B %-d, %Y"}}
    </div>

    {% include metaphorloop_subscribe.html %}
  </div>

  <div class="episode-details">
    <audio src="{{page.audio_url}}" controls>
      Your browser does not support the audio tag.
    </audio>

    {{ content }}
  </div>
</div>
