---
layout: default
---

<div class="post">

  <div class="metadata">
    <div class="title">
      <h2>
        {{ page.title }}
      </h2>
    </div>
    <div class="byline">
      {% if page.author and page.author_url %}
        by <a href="{{ page.author_url }}">{{ page.author }}</a>
      {% elsif page.author %}
        by {{ page.author }}
      {% else %}
        by {{ site.author }}
      {% endif %}
    </div>
    <div class="date">
      {{ page.date | date_to_string }}
    </div>
  </div>

  <div class="body">
    {{ content }}
  </div>

  <div class="post-footer">
    <p>
      Feel free to get in touch via <a href='http://twitter.com/maxjacobson'>@maxjacobson</a> or <a href='mailto:max@hardscrabble.net'>max@hardscrabble.net</a>
    </p>
  </div>

</div>

