---
layout: default
---

<div class="post">
  <div class="metadata">
    <div class="title">
      <h2>
        {{ page.title }}
      </h2>

      <div clas="published-date">
        {{ page.date | date_to_string }}
      </div>
    </div>
  </div>

  <div class="body">
    {{ content }}
  </div>

  <div class="post-post-cta">
    <b>Note:</b> I don't have comments or analytics on this website, so it's hard to tell if people are reading or enjoying it.
    Please feel free to share any feedback or thoughts by shooting me <a href="mailto:max@hardscrabble.net?subject=Hardscrabble comment">an email</a> or tagging me in a post <a href="https://mastodon.online/@maxjacobson">on Mastodon @maxjacobson</a>.
  </div>
</div>
